body {
  max-height: 200vh;
  display: block;
  padding: 10px;
  background: linear-gradient(cornsilk, cornflowerblue);
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.title {
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
  position: relative;
}

.title_base {
  font-size: medium;
  text-align: left;
}

#form_container {
  width: 40%;
  background: seashell;
  opacity: 80%;
  padding: 20px;
  border: whitesmoke;
  border-style: solid;
  border-bottom: thick;
  box-shadow: black 0 5px 10px;
  float: left;
}

label{
  font-size: 16px;
  font-weight: 700;
}

#displayContainer {
  width: 40%;
  background: seashell;
  opacity: 80%;
  padding: 20px;
  border: whitesmoke;
  border-style: solid;
  box-shadow: 0 5px 10px;
  float: right;
}

.field {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.field input {
  height: 35px;
  width: 90%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.submit_button {
  height: 45px;
  margin: 35px 0;
  display: flex;
  justify-content: center;
  

}

form .submit_button input {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: dodgerblue;
  
}

form .submit_button input:hover {
  background: skyblue;
}

.displayTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.displayInfo {
  background-color: lavender;
  color: black;
  text-align: left;
  border: thistle;
  margin-top: 20px;
  padding: 20px;
  line-height: 0;
}

.displayInfo p {
  font-size: 16px;
}

.displayInfo hr {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}